<!DOCTYPE html>
<html ng-app="racerApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - Masters Racers</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/angularjs")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/MastersRacersServices")
    @Scripts.Render("~/bundles/MastersRacers")
</head>
<body>
    <div class="container-fluid">
        <div class="jumbotron">
            <div class="page-header text-left">
                <h1>Masters Racers</h1>
                <p>is a demonstation application for recording and organizing race results for the Manitoba Masters Ski Club.</p>
            </div>
        </div>
    </div>
    <div class="container-fluid body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Masters Racers</p>
        </footer>
    </div>
   
    @RenderSection("scripts", required: false)
</body>
</html>
